body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(
    to top,
    rgba(65, 105, 225, 0.53),
    rgba(128, 0, 128, 0.322)
  );
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  margin: auto 1rem;
  color: #f0f0f0;
}

.navbar-logo:hover {
  color: #56b3b7;
  /* color: #007bff; */
}

.navbar ul {
  list-style: none;
  margin: auto 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  display: block;
  color: #78788e;
  /* color: #3B0A74; */
}

.navbar ul li a:hover {
  color: #d9d9d9;
  background-color: rgb(217, 217, 217, 0.2);
  background-color: #3b0a743d;
}

.navbar-hamburger {
  width: 1.875rem;
  height: 1.313rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.navbar-hamburger-line {
  height: 0.188rem;
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

header {
  display: flex;
  height: 100vh;
  padding-top: 10vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.hero-video-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-text {
  display: inline-block;
  align-self: center;
  text-align: center;
  color: #e0d8ff;
}

.main-text:hover {
  color: #a482c4;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 5rem;
}

.button {
  padding: 0.85rem 1.75rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: transparent;
  color: #f0f0f0;
  border: 2px solid #2e2e38;
  border-radius: 10px;
}

.hero-callToAction {
  display: flex;
  justify-content: center;
}

.hero-callToAction-button {
  padding: 1.5rem;
  margin-top: 2rem;
  background-image: linear-gradient(
    to right,
    rgba(158, 65, 225, 0.8),
    rgba(0, 68, 128, 0.7)
  );
  border-radius: 25px;
  color: #172347;
}

.hero-callToAction-button:hover {
  background-image: linear-gradient(to right, #4d5ecf, #b453f4);
}

.button:hover {
  background-color: #a482c4;
  color: #e0d8ff;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h1 {
  font-size: 3rem;
}

.features-elements-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  padding: 2rem;
}

.features-elements-row-element {
  display: inline-block;
  border: 2px;
  padding: 1rem;
  background-color: white;
  border-radius: 25px;
  width: 17rem;
  text-align: center;
}

.features-elements-row-element:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgb(87, 82, 121);
}

.features-elements-row-element-description {
  display: flex;
  flex-direction: row;
}

#signUp {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUp h1 {
  font-size: 3rem;
  padding: 2rem;
}

.signUp-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  color: #172347;
}

.signUp-box {
  display: inline-block;
  border: 2px;
  padding: 2rem;
  background-color: rgb(255, 240, 245, 0.45);
  flex-direction: column;
  border-radius: 25px;
  color: #172347;
}

.signUp-contact {
  display: flex;
  flex-direction: column;
}

.signUp-box-title,
.signUp-contact-title {
  font-size: 2rem;
}

.signUp-box-form {
  display: flex;
  flex-direction: column;
}

.signUp-contact-links a,
.signUp-box-form input,
select,
button {
  padding: 1rem;
  margin: 0.4rem;
  border-radius: 5px;
  border: 2px solid #c0c4d6;
}

.signUp-contact-links a {
  text-decoration: none;
  color: #172347;
  border: 2px solid #2e2e38;
}

.signUp-box-form button {
  background-image: linear-gradient(to right, #7b8cff, #ba77e7);
}

.signUp-contact-links a:hover,
.signUp-box-form button:hover {
  background-image: linear-gradient(to right, #4d5ecf, #b453f4);
  cursor: pointer;
}

.signUp-contact-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

@media screen and (max-width: 1220px) {
  .features-elements-row {
    gap: 1rem;
    padding: 1rem;
  }
  .features-elements-row-element {
    padding: none;
  }
  .signUp-content {
    padding: 1rem;
    justify-content: center;
  }
  #signUp {
    padding-bottom: none;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding-top: 25vh;
  }

  .navbar-hamburger {
    display: flex;
    z-index: 1;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgb(217, 217, 217, 0.2);
    width: 100%;
    top: -50rem;
    transition: all ease-in-out 0.4s;
    z-index: -1;
  }

  .navbar-links[active] {
    top: 0;
    z-index: 0;
  }

  .navbar-links ul {
    width: 100%;
    padding: 3rem 0 0.6rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-links ul li {
    text-align: center;
  }
}
