body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  color: rgb(240, 240, 240);
}

.profileBar-bar,
.page-bar {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #24272d;
}

.page-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profileBar-bar {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profileBar-bar-settings {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
}

.profileBar-bar-settings-dropdown {
  display: none;
  position: absolute;
  right: 0;
}

.profileBar-bar-settings-dropdown a {
  color: rgb(61, 71, 101);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: flex;
}

.page-bar button {
  margin: 0 2rem;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(240, 240, 240);
  padding: 0;
  font-size: 1.5rem;
}

.button:hover {
  cursor: pointer;
}

.active-button {
  color: #414b94b8;
}

.mainDemoContent-record {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDemoContent-wave {
  display: flex;
  height: 11rem;
  width: auto;
  border-radius: 10px;
}

.mainDemoContent-record-button {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 1rem;
  background-color: #414143;
  font-size: 1.2rem;
  color: rgb(204, 202, 202);
}

.mainDemoContent-record-button:hover {
  cursor: pointer;
  background-color: #24272d;
  color: rgb(24, 24, 24);
}

.mainDemoContent-upload {
  display: none;
  justify-content: center;
}

.mainDemoContent-upload-dropBox {
  display: flex;
  height: 15rem;
  width: 18rem;
  background-color: #24272d;
  border: 4px solid rgb(240, 240, 240);
  justify-content: center;
}

.mainDemoContent-upload-dropBox-text {
  padding-top: 1rem;
}

.mainDemoContent-upload-infoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 4px solid white;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.mainDemoContent-upload-infoBox:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(87, 82, 121);
}

.mainDemoContent-upload-infoBox-folder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.mainDemoContent-files {
  display: none;
}

.mainDemoContent-files-file {
  padding: 0 1rem;
  font-size: 3rem;
}

.mainDemoContent-files-file:hover {
  /* box-shadow: 0 0 10px rgb(87, 82, 121); */
  background-color: #414143;
  cursor: pointer;
}
