<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style-demo.css" />
    <script src="../static/js/dropdown_iframe.js"></script>
    <script src="../static/js/page_iframe.js"></script>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <header class="profileBar">
      <div class="profileBar-bar">
        <div class="profileBar-bar-account">
          <button id="user-button" class="button uil uil-user-circle"></button>
          <span> Brian</span>
        </div>

        <div class="profileBar-bar-settings">
          <button
            id="settings-button"
            class="button uil uil-ellipsis-h"
          ></button>
          <div id="settings-dropdown" class="profileBar-bar-settings-dropdown">
            <a href="#">Settings</a>
            <a href="#">retards</a>
            <a href="#">robocops</a>
          </div>
        </div>
      </div>
    </header>
    <div class="mainDemoContent">
      <div id="record-content" class="mainDemoContent-record">
        <img
          class="mainDemoContent-wave"
          src="../static/assets/freepik__adjust__25779.png"
        />
        <button class="mainDemoContent-record-button">Record</button>
      </div>

      <div id="upload-content" class="mainDemoContent-upload">
        <div class="mainDemoContent-upload-dropBox">
          <span class="mainDemoContent-upload-dropBox-text"
            >Drag files here or select</span
          >
        </div>
        <div class="mainDemoContent-upload-infoBox">
          <div
            class="uil uil-folder mainDemoContent-upload-infoBox-folder"
          ></div>
        </div>
      </div>

      <div id="files-content" class="mainDemoContent-files">
        <div class="uil uil-folder mainDemoContent-files-file"></div>
        <div class="uil uil-folder mainDemoContent-files-file"></div>
        <div class="uil uil-file-blank mainDemoContent-files-file"></div>
        <div class="uil uil-sliders-v mainDemoContent-files-file"></div>
        <div class="uil uil-video mainDemoContent-files-file"></div>
      </div>
    </div>

    <div class="page-bar">
      <button
        id="record-button"
        class="active-button button uil uil-record-audio"
      >
        Record
      </button>
      <span></span>
      <button id="upload-button" class="button uil uil-upload">Upload</button>
      <span></span>
      <button id="files-button" class="button uil uil-folder">Files</button>
      <span></span>
    </div>
  </body>
</html>
