<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style-demo.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <header class="profileBar">
      <div class="profileBar-bar">
        <div class="profileBar-bar-account">
          <button class="button uil uil-user-circle"></button>
          <span> Brian</span>
        </div>
        <button class="button uil uil-ellipsis-h"></button>
      </div>
    </header>
    <div class="mainDemoContent">
      <img
        class="mainDemoContent-wave"
        src="../static/assets/freepik__adjust__25779.png"
      />
      <button class="mainDemoContent-record">Record</button>
    </div>

    <div class="page-bar">
      <button class="button uil uil-record-audio"> Record</button>
      <span></span>
      <button class="button uil uil-upload"> Upload</button>
      <span></span>
      <button class="button uil uil-folder"> Files</button>
      <span></span>
    </div>

    <script src="" async defer></script>
  </body>
</html>
